## Red, green, and blue tiles
### Problems 117

Using a combination of grey square tiles and oblong tiles chosen from: red tiles (measuring two units), green tiles (measuring three units), and blue tiles (measuring four units), it is possible to tile a row measuring five units in length in exactly fifteen different ways.

![block image](p117.png)

How many ways can a row measuring fifty units in length be tiled?

NOTE: This is related to Problem 116.

In [1]:
def solve(space=5,blocks=4):
    """This function calculates the number of ways to arrange blocks in a given space
       keys: ans, ways, space, blocks"""
    
    ways = [1]   # A space of length 0 has only 1 combination: no blocks
    
    for n in range(1, space+1): # Find the combinations for each space length
        ways.append(
                    sum(
                        ways[max(n - blocks, 0) : n]))
    
    return {'ans':ways[-1],
            'ways':ways,
            'space':space,
            'blocks':blocks
            }

In [2]:
result = solve(space=50, blocks=4)

In [3]:
print(' space:',result['space'])
print('blocks:',result['blocks'])
print('answer:',result['ans'])

 space: 50
blocks: 4
answer: 100808458960497

In [4]:
"""
# Alternate Display

print('n combinations')
for i,num in enumerate(result['ways']):
    print(i,result['blocks'],num)
"""

In [5]:
import pandas as pd

df = pd.DataFrame({'blocks':[result['blocks']] * (result['space']+1),
                   'combinations':result['ways']})
df

    blocks     combinations
0        4                1
1        4                1
2        4                2
3        4                4
4        4                8
5        4               15
6        4               29
7        4               56
8        4              108
9        4              208
10       4              401
11       4              773
12       4             1490
13       4             2872
14       4             5536
15       4            10671
16       4            20569
17       4            39648
18       4            76424
19       4           147312
20       4           283953
21       4           547337
22       4          1055026
23       4          2033628
24       4          3919944
25       4          7555935
26       4         14564533
27       4         28074040
28       4         54114452
29       4        104308960
30       4        201061985
31       4        387559437
32       4        747044834
33       4       1439975216
34       4       2775641472
35       4       5350220959
36       4      10312882481
37       4      19878720128
38       4      38317465040
39       4      73859288608
40       4     142368356257
41       4     274423830033
42       4     528968939938
43       4    1019620414836
44       4    1965381541064
45       4    3788394725871
46       4    7302365621709
47       4   14075762303480
48       4   27131904192124
49       4   52298426843184
50       4  100808458960497